@font-face {
  font-family: 'Verdana';
  src: url('/fonts/Verdana/Verdana.eot');
  src: url('/fonts/Verdana/Verdana.eot#iefix') format('embedded-opentype'), url('/fonts/Verdana/Verdana.woff') format('woff'), url('/fonts/Verdana/Verdana.ttf') format('truetype'), url('/fonts/Verdana/Verdana.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Regular';
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot');
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.woff') format('woff'), url('/fonts/Tahoma-Regular/Tahoma-Regular.ttf') format('truetype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Bold';
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot');
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'), url('/fonts/Tahoma-Bold/Tahoma-Bold.ttf') format('truetype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('/fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'), url('/fonts/OpenSansRegular/OpenSansRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/fonts/OpenSansBold/OpenSansBold.eot');
  src: url('/fonts/OpenSansBold/OpenSansBold.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansBold/OpenSansBold.woff') format('woff'), url('/fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'), url('/fonts/OpenSansBold/OpenSansBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font: normal 18px/24px 'OpenSansRegular', Arial, sans-serif;
  color: #231f20;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  padding-top: 22px;
  padding-bottom: 23px;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.page-header__logo img {
  width: 86px;
  height: 35px;
}
.page-header__logo img:hover {
  opacity: .5;
}
.page-header__logo img:active {
  opacity: .3;
}
@media (min-width: 768px) {
  .page-header__logo {
    width: 48%;
    padding: 20px 0;
    text-align: left;
    border: none;
  }
  .page-header__logo img {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    width: 150px;
    padding: 7px 0;
    text-align: center;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 30px;
  z-index: 2;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
  -webkit-box-shadow: 0 6px 0 0 #000000,
              0 12px 0 0 #000000;
          box-shadow: 0 6px 0 0 #000000,
              0 12px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #8d8d8d;
  -webkit-box-shadow: 0 6px 0 0 #8d8d8d,
              0 12px 0 0 #8d8d8d;
          box-shadow: 0 6px 0 0 #8d8d8d,
              0 12px 0 0 #8d8d8d;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: #cacaca;
  -webkit-box-shadow: 0 6px 0 0 #cacaca,
              0 12px 0 0 #cacaca;
          box-shadow: 0 6px 0 0 #cacaca,
              0 12px 0 0 #cacaca;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -3px;
  width: 28px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #8d8d8d;
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: #cacaca;
}
.main-nav__items,
.main-nav__user-items,
.main-nav__sales {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a,
.main-nav__user-item a {
  display: block;
  padding: 27px 0;
  padding-left: 75px;
  font: bold 16px/24px 'Verdana', Arial, sans-serif;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
.main-nav__item a:hover,
.main-nav__user-item a:hover {
  color: #b0b0b0;
}
.main-nav__item a:active,
.main-nav__user-item a:active {
  color: #cacaca;
}
.main-nav__user-item {
  position: relative;
}
.main-nav__user-item--search::before,
.main-nav__user-item--basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: url("../../img/sprite.png") no-repeat top left;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-nav__user-item--search::before,
  .main-nav__user-item--basket::before {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.main-nav__user-item--search::before {
  background-position: -93px 0px;
  width: 18px;
  height: 18px;
}
.main-nav__user-item--search:hover::before {
  background-position: -149px 0px;
  width: 18px;
  height: 19px;
}
.main-nav__user-item--search:active::before {
  background-position: -121px 0px;
  width: 18px;
  height: 19px;
}
.main-nav__user-item--basket::before {
  background-position: 0px 0px;
  width: 21px;
  height: 18px;
}
.main-nav__user-item--basket:hover::before {
  background-position: -62px 0px;
  width: 21px;
  height: 18px;
}
.main-nav__user-item--basket:active::before {
  background-position: -31px 0px;
  width: 21px;
  height: 18px;
}
.main-nav__sales,
.main-nav__deliver {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item,
  .main-nav--nojs .main-nav__user-items {
    display: block;
  }
  .main-nav__item:nth-child(n+3) {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    border-bottom: 1px solid #ececec;
  }
  .main-nav__wrapper {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 52%;
    position: absolute;
    top: 91px;
    z-index: 2;
  }
  .main-nav__item a {
    width: 167px;
    padding: 20px 0;
    font-size: 14px;
    background: none;
    border: none;
  }
  .main-nav__user-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 52%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-nav__user-item a {
    padding-top: 33px;
    padding-bottom: 33px;
    border: none;
  }
  .main-nav__user-item--search a {
    width: 83px;
    padding: 33px 0;
    font-size: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .main-nav__user-item--basket a {
    width: 190px;
    padding-left: 75px;
    padding-right: 0;
  }
  .main-nav__user-item--search::before,
  .main-nav__user-item--basket::before {
    top: 34px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .main-nav__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
@media (min-width: 1150px) {
  .main-nav__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: static;
    width: 410px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .main-nav__user-items {
    text-align: right;
    width: 350px;
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .main-nav__item a {
    width: 167px;
    margin-right: 35px;
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 16px;
  }
  .main-nav__sales,
  .main-nav__deliver {
    display: block;
    -webkit-box-ordinal-group: 16;
    -webkit-order: 15;
        -ms-flex-order: 15;
            order: 15;
    position: absolute;
    top: 88px;
    z-index: 2;
    font: normal 14px/24px 'Verdana', Arial, sans-serif;
  }
  .main-nav__item--sales {
    display: inline-block;
  }
  .main-nav__item--sales a {
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-nav__deliver {
    right: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-nav__toggle {
    display: none;
  }
}
.handmade {
  position: relative;
  background: #f9f9f9;
  margin-bottom: 30px;
}
.handmade__wrapper {
  position: relative;
  min-height: 505px;
  padding-top: 1px;
  background: #f9f9f9 url("../../img/hero-mobile.jpg") no-repeat 50% top;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .handmade__wrapper {
    background-image: url("../../img/hero-mobile-2x.jpg");
    -webkit-background-size: 320px auto;
            background-size: 320px auto;
  }
}
.handmade__title {
  text-align: center;
  margin-top: 87px;
  font: bold 24px/30px 'Tahoma', Arial, sans-serif;
}
.handmade__items {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.handmade__item a {
  display: block;
  padding: 27px 30px;
  font: bold 18px/24px 'Tahoma', Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
}
.handmade__item {
  position: relative;
}
.handmade__item--interior {
  background-color: #63d1bb;
}
.handmade__item--interior:hover,
.handmade__item--interior:active {
  background-color: #59d5bc;
}
.handmade__item--interior::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 35px;
  width: 41px;
  height: 62px;
  background: url("../../img/sprite.png") no-repeat;
  background-position: -177px 0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .handmade__item--interior::before {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.handmade__item--interior:hover::before {
  background-position: -279px 0px;
}
.handmade__item--interior:active::before {
  background-position: -228px 0px;
}
.handmade__item--toy {
  background-color: #56c3b2;
}
.handmade__item--toy:hover,
.handmade__item--toy:active {
  background-color: #46c1ae;
}
.handmade__item--toy::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 28px;
  width: 60px;
  height: 61px;
  background: url("../../img/sprite.png") no-repeat;
  background-position: -330px 0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .handmade__item--toy::before {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.handmade__item--toy:hover::before {
  background-position: -470px 0px;
}
.handmade__item--toy:active::before {
  background-position: -400px 0px;
  color: #8be2d0;
}
.handmade__item--interior:active a,
.handmade__item--toy:active a {
  color: #8be2d0;
}
@media (min-width: 768px) {
  .handmade__wrapper {
    width: auto;
    min-height: 740px;
    background: #f9f9f9 url("../../img/hero-tablet.jpg") no-repeat 50% 50%;
  }
  .handmade__title {
    margin-top: 156px;
    padding: 0 80px;
    font-size: 41px;
    line-height: 50px;
  }
  .handmade__title br {
    display: none;
  }
  .handmade__items {
    bottom: 0;
    font-size: 0;
  }
  .handmade__item {
    display: inline-block;
    width: 50%;
  }
  .handmade__item--interior {
    background: #63d1bb url("../../img/zigzag-fill-desktop.png") repeat-x bottom;
  }
  .handmade__item--toy {
    background: #56c3b2 url("../../img/zigzag-fill-desktop.png") repeat-x bottom;
  }
  .handmade__item a {
    padding: 35px 35px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .handmade__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .handmade__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .handmade__wrapper {
    background-image: url("../../img/hero-tablet-2x.jpg");
    -webkit-background-size: 768px auto;
            background-size: 768px auto;
  }
}
@media (min-width: 1150px) {
  .handmade__wrapper {
    background: #f9f9f9 url("../../img/hero-desktop.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .handmade__title {
    margin-top: 150px;
    padding: 0 100px;
    font-size: 50px;
    line-height: 57px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 1150px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .handmade__wrapper {
    background-image: url("../../img/hero-desktop-2x.jpg");
    -webkit-background-size: 1150px auto;
            background-size: 1150px auto;
  }
}
.featured__wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 0 30px;
  font: normal 14px/24px 'OpenSans', Arial, sans-serif;
}
.featured__title,
.featured__label {
  margin: 0;
  padding: 0;
}
.featured__title {
  margin-bottom: 12px;
  font: bold 24px/30px 'Tahoma', Arial, sans-serif;
}
.featured__label {
  margin-bottom: 30px;
  font-family: 'OpenSansBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #a1e3d6;
}
.featured__desc {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}
.featured__info {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
}
.featured__info tr {
  border-bottom: 1px solid #ececec;
}
.featured__info td {
  padding: 12px 0;
}
.featured__parametr {
  width: 100px;
}
.featured__img {
  margin-bottom: 30px;
  text-align: center;
}
.featured__price {
  margin-bottom: 30px;
  font: bold 18px/24px 'Verdana', Arial, sans-serif;
  text-align: center;
  color: #444444;
}
.btn {
  display: block;
  padding: 16px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  border: 2px solid #444444;
}
.btn:hover {
  background-color: #444444;
  color: #ffffff;
}
.btn:active {
  color: #7c7c7c;
}
@media (min-width: 768px) {
  .featured__wrapper {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .featured__title {
    -webkit-flex-basis: 80.5%;
        -ms-flex-preferred-size: 80.5%;
            flex-basis: 80.5%;
    margin: 0;
    margin-bottom: 58px;
    font-size: 40px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    line-height: 50px;
    padding: 0;
  }
  .featured__label {
    -webkit-flex-basis: 13.8%;
        -ms-flex-preferred-size: 13.8%;
            flex-basis: 13.8%;
    margin: 0;
    margin-bottom: 58px;
    padding-top: 12px;
    text-align: center;
  }
  .featured__intro {
    width: 44%;
    margin: 0;
  }
  .featured__desc {
    margin-bottom: 50px;
  }
  .featured__img {
    width: 51%;
    margin: 0;
    text-align: right;
  }
  .feature__ordered {
    position: absolute;
    bottom: 8px;
    width: 40.5%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .featured__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .featured__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
@media (min-width: 1150px) {
  .featured__wrapper {
    width: 875px;
    margin-bottom: 65px;
    padding-left: 175px;
  }
  .featured__title {
    position: absolute;
    top: 60px;
    font-size: 50px;
    line-height: 57px;
  }
  .featured__label {
    position: absolute;
    width: 175px;
    top: 60px;
    left: 0;
  }
  .featured__intro {
    width: 290px;
    margin-top: 140px;
    margin-right: 60px;
  }
  .featured__img {
    width: 525px;
  }
  .feature__ordered {
    width: 290px;
  }
}
.about-us {
  background: #ffffff url("../../img/zigzag-line-desktop.png") repeat-x;
  padding-top: 1px;
  margin-bottom: 60px;
}
.about-us__wrapper {
  padding: 0 30px;
}
.about-us__title {
  margin: 30px 0;
  font: bold 24px/30px 'Tahoma', Arial, sans-serif;
}
.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-us__list-item {
  position: relative;
  padding-top: 57px;
  margin-bottom: 35px;
  font: bold 16px 'Verdana', Arial, sans-serif;
}
.about-us__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 57px;
  background: url("../../img/sprite.png") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .about-us__list-item::before {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.about-us__list-item--eko::before {
  left: 7px;
  background-position: -540px 0px;
  width: 32px;
  height: 38px;
}
.about-us__list-item--skan::before {
  background-position: -582px 0px;
  width: 47px;
  height: 31px;
}
.about-us__list-item--hart::before {
  left: 7px;
  background-position: -639px 0px;
  width: 34px;
  height: 27px;
}
.about-us__list-item--ball::before {
  left: 2px;
  background-position: -683px 0px;
  width: 35px;
  height: 34px;
}
.about-us__list-item--rocket::before {
  left: -5px;
  background-position: -728px 0px;
  width: 55px;
  height: 23px;
}
.about-us__list-item--box::before {
  left: 2px;
  background-position: -793px 0px;
  width: 33px;
  height: 32px;
}
.about-us__list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about-us {
    margin-bottom: 80px;
  }
  .about-us__wrapper {
    width: auto;
  }
  .about-us__title {
    margin: 50px 0;
    font-size: 40px;
    line-height: 50px;
  }
  .about-us__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }
  .about-us__list-item {
    width: 50%;
    vertical-align: top;
    font-size: 20px;
  }
  .about-us__list-item--eko,
  .about-us__list-item--ball {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us__list-item--skan,
  .about-us__list-item--rocket {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-us__list-item--hart {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .about-us__list-item--box {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .about-us__list-item:nth-child(3n) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about-us__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .about-us__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    margin-bottom: 90px;
  }
  .about-us__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .about-us__title {
    margin-top: 65px;
    margin-bottom: 55px;
    margin-left: 17%;
    font-size: 50px;
    line-height: 57px;
  }
  .about-us__list {
    margin-left: 175px;
  }
  .about-us__list-item {
    width: 350x;
  }
}
.reviews {
  margin-bottom: 45px;
}
.reviews__wrapper {
  width: auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.reviews__title {
  margin: 0;
  font: bold 24px/30px 'Tahoma', Arial, sans-serif;
  margin-bottom: 30px;
}
.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
.reviews--no-js .reviews__list-item:nth-child(n+2) {
  display: none;
}
.reviews--no-js .reviews__paging-btn {
  display: none;
}
.reviews__list {
  font: normal 14px/30px 'OpenSans', Arial, sans-serif;
  color: #444444;
}
.reviews__desc {
  margin: 0;
}
.reviews__desc p {
  margin: 0;
  margin-bottom: 26px;
}
.reviews__author {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.reviews__author-email {
  font-weight: normal;
}
.reviews__paging-btn {
  margin-bottom: 38px;
}
.reviews__paging-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  font-size: 0;
}
.reviews__btn {
  position: relative;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  background: none;
  outline: none;
  border: none;
  border: 1px solid #ececec;
}
.reviews__btn--next {
  border-left: none;
}
.reviews__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 26px;
  margin-left: -25px;
  margin-top: -13px;
  background: url("../../img/sprite.png") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .reviews__btn::before {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.reviews__btn--prev::before {
  background-position: -836px 0px;
}
.reviews__btn--prev:hover::before {
  background-position: -956px 0px;
}
.reviews__btn--prev:active::before {
  background-position: -896px 0px;
}
.reviews__btn--next::before {
  background-position: -1016px 0px;
}
.reviews__btn--next:hover::before {
  background-position: -1136px 0px;
}
.reviews__btn--next:active::before {
  background-position: -1076px 0px;
}
@media (min-width: 768px) {
  .reviews {
    margin-bottom: 66px;
    background: url("../../img/review.jpg") no-repeat;
  }
  .reviews__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .reviews__title {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 55px;
    font: bold 40px/50px 'Tahoma', Arial, sans-serif;
  }
  .reviews__list {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
  }
  .reviews__list p {
    height: 90px;
    overflow: hidden;
  }
  .reviews__paging-btn {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    width: 167px;
    right: 30px;
    bottom: 62px;
    margin-left: auto;
  }
  .reviews__btn {
    border: none;
  }
  .reviews__ordered {
    display: block;
    width: 26%;
    margin-bottom: 55px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .reviews {
    background-image: url("../../img/review-2x.jpg");
    -webkit-background-size: 350px auto;
            background-size: 350px auto;
  }
}
@media (min-width: 1150px) {
  .reviews {
    background: none;
  }
  .reviews__wrapper {
    background: url("../../img/review.jpg") no-repeat;
  }
  .reviews__title {
    margin-left: 175px;
    font-size: 50px;
    line-height: 57px;
  }
  .reviews__list {
    margin-left: 175px;
    margin-right: 175px;
    font-size: 16px;
  }
  .reviews__ordered,
  .reviews__paging-btn {
    -webkit-flex-basis: 171px;
        -ms-flex-preferred-size: 171px;
            flex-basis: 171px;
  }
}
.contacts {
  background: url("../../img/zigzag-line-desktop.png") repeat-x top;
  padding-top: 40px;
  padding-bottom: 1px;
}
.contacts__wrapper {
  width: auto;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.contacts__title {
  margin-bottom: 30px;
  padding: 0 30px;
  font: bold 24px/30px 'Tahoma', Arial, sans-serif;
}
.contacts__table {
  width: 100%;
  border-collapse: collapse;
  font: normal 14px/30px 'OpenSans', Arial, sans-serif;
}
.contacts__table td {
  padding-bottom: 40px;
  vertical-align: top;
}
.contacts__table-item {
  padding-left: 8%;
  width: 30%;
}
.contacts__table-value {
  padding-right: 8%;
  width: 70%;
}
.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0 auto;
  background: url("../../img/map-mobile.jpg") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../../img/map-mobile-2x.jpg");
    -webkit-background-size: 320px auto;
            background-size: 320px auto;
  }
}
.contacts__write-btn {
  width: 230px;
  margin: 40px auto;
}
@media (min-width: 768px) {
  .contacts__title {
    position: relative;
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__title::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 47px;
    height: 81px;
    background: url("../../img/flag.png") no-repeat;
  }
  .contacts__table {
    font-size: 16px;
  }
  .contacts__table tr {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .contacts__map {
    width: 668px;
    background: url("../../img/map-tablet.jpg") no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../../img/map-tablet-2x.jpg");
    -webkit-background-size: 768px auto;
            background-size: 768px auto;
  }
}
@media (min-width: 1150px) {
  .contacts {
    margin-bottom: 100px;
    padding-top: 60px;
  }
  .contacts__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
  }
  .contacts__title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__title::before {
    left: -100px;
  }
  .contacts__info {
    width: 33%;
    margin-left: 175px;
  }
  .contacts__table {
    font-size: 16px;
    margin-bottom: 52px;
  }
  .contacts__table tr {
    display: block;
    width: 100%;
  }
  .contacts__map {
    width: 50%;
    background: url("../../img/map-desctop.jpg") no-repeat;
  }
  .contacts__write-btn {
    margin-left: 175px;
    position: absolute;
    bottom: -40px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 1150px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../../img/map-desctop-2x.jpg");
    -webkit-background-size: 525px auto;
            background-size: 525px auto;
  }
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  width: auto;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.page-footer__logo--hidden {
  display: none;
}
.page-footer__social,
.page-footer__copyright {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
.social-link {
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 28px;
  margin-right: 35px;
  font-size: 0;
  background: url("../../img/sprite.png") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .social-link {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.social-link:last-child {
  margin-right: 0;
}
.social-link--inst {
  background-position: -1271px 0px;
  width: 22px;
  height: 21px;
}
.social-link--inst:hover {
  background-position: -1335px 0px;
}
.social-link--inst:active {
  background-position: -1303px 0px;
}
.social-link--fb {
  background-position: -1196px 0px;
  width: 15px;
  height: 28px;
}
.social-link--fb:hover {
  background-position: -1246px 0px;
}
.social-link--fb:active {
  background-position: -1221px 0px;
}
.social-link--tw {
  background-position: -1367px 0px;
  width: 23px;
  height: 20px;
}
.social-link--tw:hover {
  background-position: -1434px 0px;
}
.social-link--tw:active {
  background-position: -1400px 0px;
}
.page-footer__copyright {
  font: bold 18px/18px 'Tahoma', Arial, sans-serif;
}
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 25px;
  font-size: 0;
  background: url("../../img/sprite.png") no-repeat;
  background-position: -1468px 0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-footer__copyright-link {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
.page-footer__copyright-link:hover {
  background-position: -1542px 0px;
}
.page-footer__copyright-link:active {
  background-position: -1505px 0px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 55px;
  }
  .page-footer__logo {
    margin: 0;
    background: url("../../img/sprite.png") no-repeat;
    background-position: -1579px 0px;
    width: 102px;
    margin-right: 14.6%;
  }
  .page-footer__logo:hover {
    background-position: -1803px 0px;
  }
  .page-footer__logo:active {
    background-position: -1691px 0px;
  }
  .page-footer__logo--hidden {
    display: block;
  }
  .page-footer__social {
    padding: 0;
    padding-top: 5px;
    border-bottom: none;
  }
  .page-footer__copyright {
    width: 30%;
    padding: 0;
    padding-top: 3px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .page-footer__logo {
    background-image: url("../../img/sprite-2x.png");
    -webkit-background-size: 1905px auto;
            background-size: 1905px auto;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .page-footer__copyright {
    text-align: right;
  }
}
