@font-face {
  font-family: 'Verdana';
  src: url('/fonts/Verdana/Verdana.eot');
  src: url('/fonts/Verdana/Verdana.eot#iefix') format('embedded-opentype'), url('/fonts/Verdana/Verdana.woff') format('woff'), url('/fonts/Verdana/Verdana.ttf') format('truetype'), url('/fonts/Verdana/Verdana.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Regular';
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot');
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.woff') format('woff'), url('/fonts/Tahoma-Regular/Tahoma-Regular.ttf') format('truetype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Bold';
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot');
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'), url('/fonts/Tahoma-Bold/Tahoma-Bold.ttf') format('truetype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('/fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'), url('/fonts/OpenSansRegular/OpenSansRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/fonts/OpenSansBold/OpenSansBold.eot');
  src: url('/fonts/OpenSansBold/OpenSansBold.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansBold/OpenSansBold.woff') format('woff'), url('/fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'), url('/fonts/OpenSansBold/OpenSansBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font: normal 18px/24px 'OpenSansRegular', Arial, sans-serif;
  color: #231f20;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
