@font-face {
  font-family: 'Verdana';
  src: url('/fonts/Verdana/Verdana.eot');
  src: url('/fonts/Verdana/Verdana.eot#iefix') format('embedded-opentype'), url('/fonts/Verdana/Verdana.woff') format('woff'), url('/fonts/Verdana/Verdana.ttf') format('truetype'), url('/fonts/Verdana/Verdana.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Regular';
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot');
  src: url('/fonts/Tahoma-Regular/Tahoma-Regular.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.woff') format('woff'), url('/fonts/Tahoma-Regular/Tahoma-Regular.ttf') format('truetype'), url('/fonts/Tahoma-Regular/Tahoma-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tahoma-Bold';
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot');
  src: url('/fonts/Tahoma-Bold/Tahoma-Bold.eot#iefix') format('embedded-opentype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'), url('/fonts/Tahoma-Bold/Tahoma-Bold.ttf') format('truetype'), url('/fonts/Tahoma-Bold/Tahoma-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('/fonts/OpenSansRegular/OpenSansRegular.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('/fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'), url('/fonts/OpenSansRegular/OpenSansRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('/fonts/OpenSansBold/OpenSansBold.eot');
  src: url('/fonts/OpenSansBold/OpenSansBold.eot#iefix') format('embedded-opentype'), url('/fonts/OpenSansBold/OpenSansBold.woff') format('woff'), url('/fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'), url('/fonts/OpenSansBold/OpenSansBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font: normal 18px/24px 'OpenSansRegular', Arial, sans-serif;
  color: #231f20;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header__logo {
  min-height: 80px;
  text-align: center;
  background-color: red;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 850px;
  }
  .page-header__logo {
    margin-right: 400px;
    min-height: 90px;
    text-align: left;
  }
}
@media (min-width: 1150px) {
  .page-header {
    min-height: 834px;
  }
  .page-header__logo {
    margin-right: 490px;
    margin-left: 490px;
    text-align: center;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-nav {
    width: 668px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    width: 1050px;
  }
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main-nav__item:nth-child(n+3) {
  display: none;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}
@media (min-width: 768px) {
  .main-nav__items {
    position: absolute;
    bottom: -40px;
    z-index: 1;
  }
  .main-nav__user-items {
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-nav__item,
  .main-nav__user-item {
    display: inline-block;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__items {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
  }
  .main-nav__user-items {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
  }
  .main-nav__item,
  .main-nav__user-item {
    display: inline-block;
  }
  .main-nav__item:nth-child(2) {
    margin-bottom: 60px;
  }
  .main-nav__item:nth-child(n+3) {
    display: inline-block;
  }
  .main-nav__toggle {
    display: none;
  }
}
.handmade {
  position: relative;
  background: #f9f9f9;
}
.handmade__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 505px;
  padding-top: 1px;
  background: #f9f9f9 url("../../img/hero-mobile.jpg") no-repeat 50% top;
}
@media (min-width: 768px) {
  .handmade__wrapper {
    width: 668px;
  }
}
@media (min-width: 1150px) {
  .handmade__wrapper {
    width: 1050px;
  }
}
.handmade__title {
  text-align: center;
  margin-top: 88px;
}
.handmade__items {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .handmade__wrapper {
    min-height: 745px;
    background: #f9f9f9 url("../../img/hero-tablet.jpg") no-repeat 50% 50%;
  }
  .handmade__title {
    text-align: center;
    margin-top: 158px;
  }
}
@media (min-width: 1150px) {
  .handmade__wrapper {
    background: #f9f9f9 url("../../img/hero-desktop.jpg") no-repeat 50% 50%;
  }
  .handmade__title {
    text-align: center;
    margin-top: 150px;
  }
}
