@fontVerdana: 'Verdana';

@fontTahoma: 'Tahoma';
@fontTahomaRegular: '@{fontTahoma}-Regular';
@fontTahomaBold: '@{fontTahoma}-Bold';

@fontOpenSans: 'OpenSans';
@fontOpenSansRegular: '@{fontOpenSans}Regular';
@fontOpenSansBold: '@{fontOpenSans}Bold';

@font-weight-regular: 400;
@font-weight-bold: 700;
@font-style-normal: 'normal';

@bg-white: #ffffff;
@bg-lightgrey: #f1f1f1;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
