.featured {
  // background-color: red;
}
.featured__wrapper {
  .container-fluid();
  position: relative;
  .clearfix();
  padding: 30px;
  font: normal 14px/24px @fontOpenSans, Arial, sans-serif;
}

.featured__title,
.featured__label {
  margin: 0;
  padding: 0;
}

.featured__title {
  margin-bottom: 12px;
  font: bold 24px/30px @fontTahoma, Arial, sans-serif;
}

.featured__label {
  margin-bottom: 30px;
  font-family: @fontOpenSansBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #a1e3d6;
}

.featured__desc {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.featured__info {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
}

.featured__info tr {
  border-bottom: 1px solid #ececec;
}

.featured__info td {
  padding: 12px 0;
}

.featured__parametr {
  width: 100px;
}

.featured__img {
  margin-bottom: 30px;
  text-align: center;
}

.featured__price {
  margin-bottom: 30px;
  font: bold 18px/24px @fontVerdana, Arial, sans-serif;
  text-align: center;
  color: #444444;
}

.btn {
  .btn();
}

 @media @tablet-widths {

  .featured__title {
    margin-bottom: 60px;
    margin-right: 127px;
  }

  .featured__label {
    position: absolute;
    top: 32px;
    right: 0;
    width: 126px;
    text-align: center;
  }

  .featured__intro {
    float: left;
    width: 295px;
  }

  .featured__img {
    float: right;
    width: 334px;
  }

  .feature__ordered {
      position: absolute;
      bottom: 32px;
  }

}

@media @desktop-widths {
//
  .featured__wrapper {
    padding-left: 175px;
  }
//
  .featured__title {
    position: absolute;
    top: 132px;
  }

  .featured__label {
    width: 175px;
    top: 132px;
    left: 0;
  }
//
  .featured__intro {
    position: absolute;
    top: 162px;
  }

  .featured__img {
    width: 525px;
  }
//
//   .featured__price {
//
//   }
//
}
