.page-header__logo {
  padding-top: 22px;
  padding-bottom: 23px;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo img {
  width: 86px;
  height: 35px;

  &:hover {
    opacity: .5;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-widths {

  .page-header {
    min-height: 850px;
  }

  .page-header__logo {
    width: 48%;
    padding: 20px 0;
    text-align: left;
    border: none;
  }

}

@media @desktop-widths {

  .page-header {
    min-height: 834px;
  }

  .page-header__logo {
    width: 150px;
    text-align: center;
    order: 5;
    background-color: blue;
  }

}
