.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  .container();
}

.page-footer__logo--hidden {
  display: none;
}

.page-footer__social,
.page-footer__copyright {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
}
