.reviews__wrapper {
  .container();
}

.reviews__header {
  margin-bottom: 40px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__list-item {
  margin-bottom: 30px;
}

.reviews__desc {
  margin: 0;
  padding: 0;
}

.reviews__next {
  margin: 35px;
}

.reviews__ordered {
  display: block;
  width: 100%;
  background-color: red;
  clear: both;
}

.reviews__ordered--hidden1 {
  display: none;
}

.reviews__next,
.reviews__prev {
  margin: 0;
  padding: 0;
  width: 130px;
  margin-bottom: 40px;
}

.reviews__prev {
  float: left;
}

.reviews__next {
  float: right;
}
