.reviews {
  background-color: red;
}
.reviews__wrapper {
  .container-fluid();
}

.reviews__title {
  margin: 0;
  margin-bottom: 40px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__list-item {
  margin-bottom: 30px;
}

.reviews__desc {
  margin: 0;
  padding: 0;
}

.reviews__next {
  margin: 35px;
}

.reviews__ordered {
  background-color: red;
}

.reviews__ordered--hidden1 {
  display: none;
}

.reviews__paging-btn {
  width: 100%;
  .clearfix();
}

.reviews__next,
.reviews__prev {
  margin: 0;
  padding: 0;
  width: 130px;
  margin-bottom: 40px;
}

.reviews__prev {
  float: left;
}

.reviews__next {
  float: right;
}

@media @tablet-widths {

  .reviews__wrapper {
    // padding-top: 75px;
    // padding-bottom: 90px;
  }

  .reviews__title {
    width: 334px;
    float: left;
    background-color: green;
  }

  .reviews__ordered--hidden1 {
    display: block;
    width: 175px;
    float: right;
  }

  .reviews__list {
    clear: both;
  }

  .reviews__author {
    width: 334px;
  }

  .reviews__paging-btn {
    width: 175px;
    float: right;
    margin-top: -75px;
  }

  .reviews__next,
  .reviews__prev {
    width: 75px;
  }

  .reviews__ordered--hidden2 {
    display: none;
  }

}

@media @desktop-widths {

  .reviews__wrapper {
    padding-left: 175px;
  }

}
